# This file contains the essential steps for getting the app packaged and scanned using Veracode's various
# scan types.  We suggest starting with the elements in this file and fully understanding them before
# attempting more advanced use cases, like 'Pipeline scan on a PR', or importing Issues.

# The essential steps shown below are:
#   checkout and package the app for scanning
#   upload for a static scan
#   run the SCA agent scan
#   run the Container scan

name: the-essentials

on:
  workflow_dispatch:
    
jobs:
  checkout-and-package:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
    
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.3.0'
    
      - name: Zip application files
        run: |
          rm -rf verademo.zip
          zip -r verademo.zip resources/css/ resources/js/ routes/ src-app/ views/ \
            app.js package.json package-lock.json

      - name: save artifact
        uses: actions/upload-artifact@v4
        with:
          name: scan-target
          path: verademo.zip

  upload-scan:
    needs: checkout-and-package
    runs-on: ubuntu-latest
    container:
      image: veracode/api-wrapper-java:latest
      options: --user root

    steps:
      - name: get artifact
        uses: actions/download-artifact@v4
        with:
          name: scan-target

      # debugging steps can be handy...
      - name: debug1
        run: |
          pwd
          ls -l

      - name: scan
        run: |
          java -jar /opt/veracode/api-wrapper.jar \
            -vid ${{ secrets.VERACODE_API_ID }} -vkey ${{ secrets.VERACODE_API_KEY }} \
            -action UploadAndScan \
            -appname "Verademo-javascript" -createprofile false \
            -filepath verademo.zip -version "GitHub $GITHUB_RUN_NUMBER"
        continue-on-error: true

# # the above steps are the bare minimum.
# # below are some additional steps that are commonplace
  sca-scan:
    needs: checkout-and-package     # OK not really, but keeps things cleaner
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.3.0'

      - name: do SCA scan
        env:
          SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
        uses: veracode/veracode-sca@v2.1.12
        with:
          create-issues: false

      - name: display SCA results
        run: |
          cat scaResults.txt

  container-scan:
    needs: checkout-and-package     # OK not really, but keeps things cleaner
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.3.0'

      - name: do container scan
        uses: veracode/container_iac_secrets_scanning@v1.0.3
        with:
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          command: "scan" 
          type: "directory"
          source: "."
          format: "table"
  
  push-aws-ecr:
    needs: checkout-and-package     # OK not really, but keeps things cleaner
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: vuln_images
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG